.users-header {
  background: #ffffff;
  padding: 16px 0;
  border-radius: 16px;
  display: flex;
  max-width: 85%;
  flex-direction: column;
  margin: 0 auto;
  color: #000
}

/* TOP */
.header-top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* TITLE */
.title-row {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title h1 {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
}

/* EXPORT */
.export-button {
  align-self: flex-start;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

/* SEARCH */
.search-box {
  position: relative;
}

.search-box input {
  width: 97%;
  padding: 12px 12px 12px 40px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

/* FILTER */
.filter-button {
  align-self: flex-start;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .users-header {
    gap: 20px;
    max-width: 82%;
  }

  .header-top {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .search-box {
    max-width: 100%;
  }

  .filter-button {
    width: fit-content;
  }
}
