.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 64px;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo-icon {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: #0b2545;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.logo-text {
  display: none;
  flex-direction: column;
}

.logo-text strong {
  font-size: 0.95rem;
  color: #0b2545;
}

.logo-text span {
  font-size: 0.75rem;
  color: #6b7280;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.user-info {
    color: #000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #eef2ff;
  color: #2563eb;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.user-text {
  display: none;
  flex-direction: column;
}

.user-text strong {
  font-size: 0.85rem;
}

.user-text span {
  font-size: 0.7rem;
  color: #6b7280;
}

.logout-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  color: #6b7280;
}

.logout-btn span {
  display: none;
}

.app-content {
  padding: 1rem;
}

@media (min-width: 640px) {
  .logo-text {
    display: flex;
  }

  .user-text {
    display: flex;
  }

  .logout-btn span {
    display: inline;
    margin-left: 0.25rem;
    font-size: 0.85rem;
  }
}


@media (min-width: 1024px) {
  .app-header {
    height: 72px;
    padding: 0 2rem;
  }

  .logo-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .app-content {
    padding: 2rem;
  }
}
